@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: #131623;
} */

  body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url('../images/badg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: #fbe9e7; */
  }
  

/* landing */
#header-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-landing .logo {
  color: #f57309;
  text-transform: uppercase;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase .active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #f57309;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: rgb(8, 8, 8);
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(1.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(1.4) translateY(-5px);
}

/* PageNav */
.container {
  margin: 20px auto;
  padding: 0px 20px;
  width: fit-content;
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(12, 12, 12, 0.8);
  /* box-shadow: 0px 0px 3px 1px #f5be09; */
  border-radius: 25px;
  height: 50px;
  /* background: #000; */
}

.number-page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: auto 10px;
  color: rgb(255, 255, 255);
  /* color: rgb(38, 36, 48); */
  /* color: #f5be09; */
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.number-current-page {
  color: #f57309;
  font-weight: bold;
  font-size: 26px;
  margin: 15px;
}

.number-page::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  /* background: rgb(38, 36, 48); */
  background: #f57309;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: -1;
}

.number-page:hover {
  color: #fff;
}

.number-page:hover::before {
  width: 40px;
  height: 40px;
}

/* home */
#header-home {
  width: 100%;
  height: 40px;
  background: #f57309;
}

.container-header {
  width: 100%;
  max-width: 1200px;
}

.logo-title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

#logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-title h4 {
  margin-top: 10px;
}

/* SearchBar */
.search-bar {
  margin-top: 8px;
  margin-left: 20px;
}

.search-bar input{
  background-color: #524c4c;
}

.search-bar .buttonSearch {
  display: inline-block;
  font-size: .7em;
  background: #f57309;
  padding: 4px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  margin-left: 5px;
  color: #000;
  letter-spacing: 6px;
  cursor: pointer;  
}

/* home => cover */
.container-cover {
  width: 100%;
  height: 250px;
  background-image: url(../images/984634.jpg);
  background-size: 150%;
  animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
  from {
    background-position: top left;
  } to {
    background-position: bottom right;
  } 
}

.container-details {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.details {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 20px;
  left: 10px;
  color: #fff;
}

select {
  background-color: #afa8a8;
  /* Otros estilos adicionales para el selector select */
}


.details div {
  padding: 6px;
}

.details .buttonCreate {
  display: inline-block;
  font-size: 1em;
  background: #f57309;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  margin-top: 10px;
  color: #000;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Card */
.container-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  /* background: #000; */
}

.container-card .card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  border-radius: 15px;
  background: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(56, 55, 56);
  /* border-left: 2px solid rgb(56, 55, 56); */
  backdrop-filter: blur(10px);
}

.card-result-number {
  color: #f57309;
  /* font-weight: bold; */
  font-size: 30px;
  font-variant-caps: all-small-caps;
  margin-bottom: 10px;
}

.container-card .card img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.container-card .card .content {
  padding: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0.6;
  transition: 0.5s;
}

.container-card .card:hover .content {
  transform: translateY(-20px);
  opacity: 1;
}

.item-details a {
  text-decoration: none;
}

.filterByTempClass {
  color: #f57309;
  font-weight: bold;
}

/* ErrorComponent */
.error-container {
  margin: 20px;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-container img {
  width: 30%;
}

/* ItemsQty */
.items-qty-container {
  color: #f57309;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CardDetails */
.cd-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cd-card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 5px 5px 20px rgba(97, 95, 97, 0.5);
  transition: 1s;
}

.cd-card:hover {
  transform: translateX(50%);
}

.cd-card .cd-img-box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s;
  box-shadow: 5px 5px 20px rgba(97, 95, 97, 0.5);
}

.cd-card:hover .cd-img-box {
  transform: rotateY(-180deg);
}

.cd-card .cd-img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
}

.cd-card .cd-details {
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cd-card .cd-details .cd-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes movimiento {
  from {
    background-position: top left;
  } to {
    background-position: bottom right;
  } 
}

/* CreateForm */
.cf-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.cf-container:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../images/perro-de-pastor-suizo-papel-pintado-2048x1152_49.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.cf-contact-box {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: start;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.cf-left {
	background: url("../images/perro-de-pastor-suizo-papel-pintado-2048x1152_49.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.cf-right {
	padding: 25px 40px;
}

.cf-h2 {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.cf-h2:after {
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.cf-field {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.cf-field:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.1rem;
  margin-bottom: 22px;
  color:rgba(0, 0, 0,  0.6);
}

.cf-btn-disabled {
  width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	transition: .3s;
  visibility: hidden;
}

.cf-btn {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.cf-btn:hover {
    background-color: #27ae60;
}

.cf-field:focus {
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.errorInForm {
  font-size: 12px;
  color: #e74c3c;
}

/* CreateForm >> Temperaments List */
.cf-temperament-list li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.cf-temperament-list li .icon {
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cf-temperament-list li:hover .icon {
  right: 0px;
}

@media screen and (max-width: 880px){
	.cf-contact-box {
		grid-template-columns: 1fr;
	}
	.cf-left {
		height: 200px;
	}
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}